# Terminal commands
alias ll="ls -lAFh"
alias c="clear"
alias bbd="brew bundle dump --force --describe"
alias trail='<<<${(F)path}' # output in a human friendly format the $PATH - works with single quotes this command

# Git
alias ga="git add"
alias gaa="git add ."
alias gcm="git commit -m"
alias gamend="git commit --amend --no-edit"
alias gc="git checkout"
alias gcb="git checkout -b"
alias gcd="git checkout -d"
alias gdiff="git diff"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias push="git push"
alias pull="git pull"
alias gs="git status"
alias gstash="git stash"
alias nah="git reset --hard;git clean -df;"

# Docker
alias di="docker image ls"
alias dn="docker network ls"
alias dv="docker volume ls"
alias dprune="docker system prune --volumes"
alias dsa="docker stop $(docker ps -a -q)"

alias dc="docker-compose"
alias dcb="docker-compose build"
alias dcps="docker-compose ps"
alias dcup="docker-compose up"
alias dcstopp="docker-compose stop"
alias dcdn="docker-compose down -v"
alias dcr="docker-compose run --rm"
alias dce="docker-compose exec"
alias dcl="docker-compose logs -f"
alias dcrm="docker-compose rm"
