# Terminal commands
alias ll="ls -lAFh"
alias c="clear"
alias bbd="brew bundle dump --force --describe"
alias trail='<<<${(F)path}' # output in a human friendly format the $PATH - works with single quotes this command
alias today='date +"%d-%m-%Y"'

# Git
alias gs="git status"
alias ga="git add"
alias gaa="git add ."
alias unstage="git restore --staged ."
alias commit="git commit -m"
alias amend="git commit --amend --no-edit"
alias gbs="git branch --sort=-committerdate"
alias gc="git checkout"
alias gcd="git checkout -d"
alias gnb="git checkout -b"
alias gdf="git diff"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias push="git push"
alias pull="git pull"
alias stash="git stash"
alias nah="git clean -df;git reset --hard;"

# Docker
alias di="docker image ls"
alias dn="docker network ls"
alias dv="docker volume ls"
alias dnuke="docker system prune --volumes"
alias dkill="docker stop $(docker ps -a -q)"
alias dc="docker compose"
alias dcrun="docker-compose run --rm"
alias dclogs="docker-compose logs -f"
alias dcdn="docker-compose down -v"